---
import { Banner, BannerBrands, CardService, Title } from '../components';
import { BaseLayout } from '../layouts';
import { services } from '../data-list/services.js';
import Testimonials from '../components/home/Testimonials.astro';
import BookYourAppointment from '../components/home/BookYourAppointment.astro';
import FloatingCall from '../components/ui/FloatingCall.astro';
---

<BaseLayout title="Servitec linea blanca">
	<main class="">
		<Banner />
		<BannerBrands />
		<section class="flex flex-col items-center bg-[#0aabd7] px-6 py-20">
			<Title color="text-white">Servicios Principales</Title>
			<section class="grid grid-cols-1 gap-6 md:grid-cols-3">
				{
					services.slice(0, 3).map((service) => {
						return (
							<CardService
								image={service.image}
								title={service.title}
								description={service.description}
								link={service.service}
							/>
						);
					})
				}
			</section>
			<a
				href="/services/"
				class="mt-12 flex w-full items-center justify-center rounded-lg bg-[#3b4289] px-5 py-4 text-lg font-medium uppercase text-white hover:bg-[#5063c0] focus:outline-none focus:ring-4 md:w-96"
			>
				Mostrar más
			</a>
		</section>
		<BookYourAppointment />
		<Testimonials />
		<FloatingCall />
	</main>
</BaseLayout>
