---
import { About, Banner, BannerBrands, Button, CardService, Title } from "../components";
import { BaseLayout } from "../layouts";
import { services } from "../data-list/services.js";
import Testimonials from "../components/home/Testimonials.astro";
import BookYourAppointment from "../components/home/BookYourAppointment.astro";
---

<BaseLayout title="Servitec linea blanca">
  <main class="">
    <Banner />
    <BannerBrands />
    <section class="flex flex-col items-center px-6 py-20 bg-[#0aabd7]">
      <Title title="Servicios Principales" marginBottom="mb-10" />
      <section class="grid
      grid-cols-1
      md:grid-cols-3
      gap-6">
        {
          services.slice(0, 3).map((service) => {
            return (
              <CardService
                image={service.props.image}
                title={service.props.title}
                description={service.props.description}
                link={service.params.service}
              />
            );
          })
        }
      </section>
      <Button link="/services/" increaseStyle="mt-10" bgColor="bg-[#3b4289]">Mostrar más</Button>
    </section>
    <!-- <About /> -->
    <BookYourAppointment/>
    <Testimonials/>
  </main>
</BaseLayout>
