---
import { BaseLayout } from "../../layouts";
import { Title, About } from "../../components";
---

<BaseLayout title="Nosotros">
  <main class="py-10">
    <Title>Nosotros</Title>
    <About />
  </main>
</BaseLayout>

<style type="scss"></style>
