<section
  class="flex
  flex-col
  md:flex-row
  md:h-80
  lg:h-96
  relative
  bg-secondary-color-800
  after:content-['']
  after:absolute
  after:left-0
  after:bottom-0
  after:z-0
  after:w-full
  after:h-full
  after:bg-gradient-to-t
  from-secondary-color-800
  from-50% md:after:bg-gradient-to-l"
>
  <figure class="flex-1">
    <img
      class="w-full
      h-80
      lg:h-96
      object-cover
      object-top"
      src="/about-us.jpg"
      alt=""
    />
  </figure>
  <div
    class="flex-1
    flex
    flex-col
    md:justify-center
    z-10
    py-10
    px-6
    text-white"
  >
    <h2
      class="mb-4
      text-4xl
      tracking-tight
      font-extrabold
      text-center
      text-gray-900
      dark:text-white"
    >
      ¿Quiénes somos?
    </h2>
    <p class="text-center leading-8">
      En Servirtec, nos especializamos en la reparación de electrodomésticos
      clave en tu hogar, incluyendo cocinas, refrigeradores y aire
      acondicionado. Nuestro equipo de técnicos altamente capacitados se dedica
      a proporcionar soluciones rápidas y eficientes para mantener tus
      electrodomésticos en óptimo estado.
    </p>
  </div>
</section>
