---
const logos = [
  "sole",
  "hidrostal",
  "indurama",
  "bosch",
  "electrolux",
  "lg",
  "rotoplas",
  "amana-corporation",
  "amcrest",
  "arlo",
  "black&decker",
  "braun",
  "breville",
  "carrier",
  "cuisinart",
  "dahua",
  "daikin",
  "frigidaire",
  "fujitsu",
  "ge-appliances",
  "general-electric",
  "haier",
  "hamilton-beach",
  "hikvision",
  "hisense",
  "hitachi",
  "kitchenaid",
  "lorex",
  "maytag",
  "miele",
  "mitsubishi-electric",
  "nest",
  "ninja",
  "oster",
  "panasonic",
  "philips",
  "reolink",
  "ring",
  "samsung",
  "sharp",
  "siemens",
  "sony",
  "speed-queen",
  "swann",
  "tcl",
  "toshiba",
  "trane",
  "viking",
  "vitamix",
  "vizio",
  "whirlpool",
];
---

<div class="group overflow-hidden bg-white whitespace-nowrap relative">
  <div class="group-hover:animation-play-state-[paused] logos-slide flex py-6 gap-6">
    {
      logos.map((logo) => {
        return (
          <img
            src={`/images/marcas/${logo}.webp`}
            alt={`Logo de la marca ${logo}`}
            class="h-5 object-contain"
          />
        );
      })
    }
  </div>
</div>

<style>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .logos-slide {
    animation: 35s slide infinite linear;
  }
</style>
