---
import { BaseLayout } from "../../../layouts";

export function getStaticPaths() {
  return [
    { params: { service: "reparacion-electrica-de-cocina" } },
    { params: { service: "reparacion-de-refrigeradoras" } },
    { params: { service: "reparacion-de-lavadoras" } },
    { params: { service: "reparacion-de-camaras" } },
    { params: { service: "reparacion-de-televisores" } },
  ];
}

const { service } = Astro.params;
---

<BaseLayout title="Servicios">
  <main>
    <h2>{service}</h2>
    <section class="flex justify-center md:justify-around flex-wrap gap-6 px-6">
      <div class="max-w-md">
        <figure class="mb-6">
          <img src="../../../../public/images/repa_televisor.webp" alt="" />
        </figure>
        <p>
          Comprendemos la importancia central de la cocina en su hogar, y es por
          eso que nuestro equipo de expertos se esfuerza por brindar soluciones
          integrales que no solo reparen los inconvenientes, sino que también
          mejoren la eficiencia y la seguridad de su espacio culinario. Nuestro
          enfoque comienza con un análisis detallado de la instalación eléctrica
          en su cocina. Identificamos cualquier cableado defectuoso, conexiones
          inseguras o componentes desgastados que podrían estar comprometiendo
          el rendimiento eléctrico.
        </p>
      </div>
      <div class="w-72">
        <h3 class="text-lg font-medium text-primary-color-500 uppercase mb-4">Servicios</h3>
        <ul>
          <li class="border-t border-black py-4">
            <a href="/services/reparacion-electrica-de-cocina"
              >Reparación eléctrica de cocina</a>
          </li>
          <li class="border-t border-black py-4">
            <a href="/services/reparacion-de-refrigeradoras"
              >Reparación de refrigeradoras</a>
          </li>
          <li class="border-t border-black py-4">
            <a href="/services/reparacion-de-lavadoras"
              >Reparación de lavadoras</a>
          </li>
          <li class="border-t border-black py-4">
            <a href="/services/reparacion-de-camaras">Reparación de cámaras</a>
          </li>
          <li class="border-t border-black py-4">
            <a href="/services/reparacion-de-televisores"
              >Reparación de televisores</a>
          </li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
