<footer class="bg-tertiary-color-950">
  <div class="w-full p-4 text-center">
    <p class="text-sm">
      Copyrights © 2023 Servitec Linea Blanca - Todos los derechos reservados -
      Desarrollado por <a href="#" class="text-red-600 font-bold hover:underline">Agencia Servitec</a>
    </p>
  </div>
</footer>