---
import { Banner } from "../components";

---

<header>
  <section></section>
  <figure>
    <img src="logo-air-servitec.png" alt="" />
  </figure>
  <Banner/>
</header>

<style lang="scss"></style>
