---
interface Props {
  title?: string;
  size?: string;
  marginBottom?: string;
}

const { title, size = "text-4xl", marginBottom = "mb-4" } = Astro.props;
---

<h2
  class={`${marginBottom} 
  text-4xl 
  md:text-5xl 
  tracking-tight 
  font-extrabold 
  text-center 
  text-tertiary-color-950`}
>
  {title}
  <span>
    <slot />
  </span>
</h2>
