---
interface Props {
  size?: string;
  marginBottom?: string;
  color?: string;
}

const {
  size = "text-4xl",
  color = "text-[#0aabd7]",
} = Astro.props;
---

<h2
  class={`text-4xl md:text-5xl
  tracking-tight
  font-extrabold
  text-center
  mb-10
  ${color}`}
>
  <slot />
</h2>
